<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <link rel="stylesheet" href="/css/home.css">
</head>

<body>
  <div class="homeHeader">
    <a href="/" class="headerLink">iCanHelp</a>
  </div>

  <div style="text-align: center; padding-top: 10px; font-size: 1.5rem;" data-aos="fade-in" data-aos-duration="500">
    Welcome, <%=user.name %>
  </div>
  <div style="text-align: center; padding: 10px 0;" data-aos="fade-in" data-aos-duration="500">
    <a href="/profile">
      <button class="btn btn-primary">View Full Profile</button>
    </a>
    <span>
      <a href="/logout">
        <button class="btn btn-danger">
          <ion-icon name="log-out-outline" style="transform: scale(1.5);"></ion-icon>
        </button>
      </a>
    </span>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-4" data-aos="fade-up" data-aos-duration="500">
        <a href="/signLanguageDetection" class="cardLinks">
          <div class="card homeCards">
            <div class="card-body">
              <h5 class="card-title">Sign Language Detection</h5>
              <p class="card-text">Sign language detection module can be used by users with speech disorders to
                communicate with
                other users
              </p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-12 col-md-4" data-aos="fade-up" data-aos-duration="500" data-aos-delay="100">
        <div class="card homeCards">
          <div class="card-body">
            <h5 class="card-title">Vision Based Navigation</h5>

            <p class="card-text">Vision based navigation can be used by users with sight disorder or visual impairment,
              to navigate
              the environment
            </p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4" data-aos="fade-up" data-aos-duration="500" data-aos-delay="200">
        <a href="/textToSpeech" class="cardLinks">
          <div class="card homeCards">
            <div class="card-body">
              <h5 class="card-title">Text To Speech</h5>
              <p class="card-text">Text to speech module can be used by users with visual impairment to read printed
              </p>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-4" data-aos="fade-up" data-aos-duration="500" data-aos-delay="300">
        <a href="/voiceNotes" class="cardLinks">
          <div class="card homeCards">
            <div class="card-body">
              <h5 class="card-title">Self Voice Notes</h5>

              <p class="card-text">Self voice notes can be used by users with Alzheimer's to record voice notes for
                future reference</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col-12 col-md-4" data-aos="fade-up" data-aos-duration="500" data-aos-delay="400">
        <a href="/speechToText" class="cardLinks">
          <div class="card homeCards">
            <div class="card-body">
              <h5 class="card-title">Speech to Text</h5>
              <p class="card-text">Speech to text module can be used by user to communicate with other uses with hearing
                disorders</p>
            </div>
          </div>
        </a>

      </div>
      <div class="col-12 col-md-4" data-aos="fade-up" data-aos-duration="500" data-aos-delay="500">
        <div class="card homeCards">
          <div class="card-body">
            <h5 class="card-title">Medication Reminder</h5>

            <p class="card-text">User's will receive a push notification for their medication reminders as prescribed by
              the
              autohrised doctor.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"
    integrity="sha512-A7AYk1fGKX6S2SsHywmPkrnzTZHrgiVT7GcQkLGDe2ev0aWb8zejytzS8wjo7PGEXKqJOrjQ4oORtnimIRZBtw=="
    crossorigin="anonymous"></script>
  <script>
    AOS.init()
  </script>
  <script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
</body>

</html>