<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/Contact-Form-Clean.css"
</head>
<body>
    <div class="contact-clean">
        <form method="post" action = "/register">
            <H3 class="text-center">Register</H3>
            <div class="text-center">This form is just temporary as we have not yet decided the final profile schema for iCanHelp</div>
            <p style="margin-bottom: 3px;margin-top: -2px;">Name :</p>
            <div class="form-group"><input class="form-control" type="text" name="name" placeholder="Name" style="margin-bottom: -18px;"></div>
            <div class="form-group">
                <div class="form-row d-flex justify-content-start align-content-start flex-wrap-reverse" style="margin-top: 40px">
                    <div class="col">
                    <select name = "year" class="form-control" style="width: 64px;margin-left: 0px;">
                        <option value="FE">FE</option>
                        <option value="SE">SE</option>
                        <option value="TE">TE</option>
                        <option value="BE">BE</option>
                    </select>
                </div>
                    <div class="col">
                        <select name = "department" class="form-control" style="width: 93px;margin-left: -10px;">
                            <option value="FE">FE</option>
                            <option value="Comp">COMP</option>
                            <option value="Mech">MECH</option>
                            <option value="Entc">ENTC</option>
                            <option value="IT">IT</option>
                            <option value="Civil">CIVIL</option>
                        </select>
                    </div>
                    <div class="col">
                        <select name = "div" class="form-control" style="width: 68px;margin-right: 8px;margin-left: 10px;">
                            <option value="A">A</option>
                            <option value="B">B</option>
                            <option value="C">C</option>
                            <option value="D">D</option>
                            <option value="E">E</option>
                            <option value="F">F</option>
                        </select>
                    </div>
            </div>
            
    </div>
    <p style="margin-bottom: 3px;margin-top: -2px;">Roll Number&nbsp;</p>
    <div class="form-group">
    <input class="form-control" type="text" name="roll" placeholder="Roll no." style="margin-bottom: -2px;"></div>
    <p style="margin-bottom: 3px;margin-top: -2px;">Blood Group</p>
    <select name = "bloodGroup" class="form-control">
        <option value="A+">A+</option>
        <option value="A-">A-</option>
        <option value="B+">B+</option>
        <option value="B-">B</option>
        <option value="O+">O+</option>
    </select>
    <p style="margin-bottom: 3px;margin-top: 31px;">Email (username)</p>
    <div class="form-group"><input class="form-control" type="text" name="username" placeholder="Email" style="margin-bottom: -18px;">
    <p style="margin-bottom: 3px;margin-top: 31px;">Login Password</p>
    <div class="form-group"><input class="form-control" type="text" name="password" placeholder="Set Login Password" style="margin-bottom: -18px;"></div>
    <button class="btn btn-primary d-flex mx-auto" type="submit" style="margin-top: 49px;margin-bottom: -13px;border: none;">
        Create Your Account
    </button>
</div>
    </form>
    </div>
</body>
</html>