<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Voice Notes</title>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/voiceNotes.css">
</head>

<body>
    <div class="homeHeader">
        <a href="/" class="headerLink">iCanHelp</a>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="recContainer">
                    <strong>Record a voice note</strong>
                    <div id="controls">
                        <button id="recordButton">Record</button>
                        <button id="pauseButton" disabled>Pause</button>
                        <button id="stopButton" disabled>Stop</button> 
                    </div>
                    <div id="uploading"></div>
                    <p>Recorded Audio:</p>
                    <ol id="recordingsList"></ol>
                    <script src="https://www.gstatic.com/firebasejs/7.7.0/firebase-app.js"></script>
                    <script src="https://www.gstatic.com/firebasejs/7.7.0/firebase-storage.js"></script>
                    <script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script>
                    <script src="/js/recordingAudio.js"></script>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="yourRecContainer">
                    <strong>Your recordings:</strong><br><br>
                    <div>
                        <%  reverseArray = notesArray.reverse()
                            reverseArray.forEach(function(note){ %>
                            <%=note.voiceNoteName%></br>
                            <audio controls>
                                <source src="<%=note.voiceNoteLink%>" type="audio/ogg">
                                Your browser does not support the audio tag.
                            </audio>
                            <br>
                        <% }) %>
                    </div>  
                </div>
                
            </div>
        </div>
    </div>
</body>
</html>