.homeHeader{
    padding: 20px 0;
    font-size: 3rem;
    font-weight: 600;
    font-family: Rubik;
    color: white;
    display: block;
    text-align: center;
    background-color: rgb(68, 202, 255);
}

.homeCards{
    width: 18rem; 
    margin: 15px auto;
}



.cardLinks:hover{
    text-decoration: none;
    color: black;
}

.cardLinks{
    text-decoration: none;
    color: black;
}

.headerLink{
        text-decoration: none;
        color: white;
}

.headerLink:hover{
    text-decoration: none;
    color: white;
}

body{
    font-family: Rubik;
}

